{% extends 'base.html' %}
{% block content %}

<body>


<div class="container">
    <h2>Our Services</h2>
    <p>At Animal Welfare Organization, we offer a range of services to support the well-being and protection of animals. Our dedicated team works tirelessly to provide care, assistance, and advocacy for animals in need.</p>
    <h3>Our Services Include:</h3>
    <ul>
        <li>Animal Rescue Operations</li>
        <li>Shelter and Adoption Programs</li>
        <li>Veterinary Care and Medical Treatment</li>
        <li>Spaying and Neutering Services</li>
        <li>Education and Outreach Programs</li>
        <li>Advocacy for Animal Rights and Welfare</li>
    </ul>
    <p>We are committed to making a difference in the lives of animals and promoting a compassionate society where all animals are treated with kindness and respect.</p>
</div>

</body>
</html>
{% endblock %}

